body {
  background-color: darksalmon;
  margin:0;
  padding: 0;
}


.projects_list h2 {
  text-align: center;

}

.main h1{
  text-align: center;
  font-style: italic;

}

.links a {
  text-decoration: none;
  padding:10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color:black
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;

}
.projects_card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 13%;
}
.project {
  background-color: blue;
  margin:5px;
  border-radius:5px;
}

.project p {
  text-align:center;
  
}
.btn {
  display: flex;
  justify-content: space-between;
  padding:6px;
}
 button:hover { 
background-color: brown;
cursor: pointer;
}
button {
  border-radius: 4px;
  padding:2px;
}
.members {
  display: flex;
  padding:10px;
}
.members_list {
  margin-left:10px;
}